@import '../../components/sass/global.scss';

a {
    color: $color-dark-l;
}

.ourpets {
    background: $color-light-l;
	padding: calc(120px + 80px) 0 100px;
	@media screen and (max-width: 1279px) {
		padding-bottom: 75px;
	}
	@media screen and (max-width: 767px) {
		padding: 162px 0 41px;
	}
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 60px;
		@media screen and (max-width: 1279px) {
			row-gap: 30px;
		}
		@media screen and (max-width: 767px) {
			row-gap: 42px;
		}
		.section-title {
			text-align: center;
		}
	}
}

.slides {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
	row-gap: 30px;
	overflow: hidden;
	max-height: 930px;
	@media screen and (max-width: 1279px) {
		justify-content: space-evenly;
		max-height: 1365px;
	}
}

.nav__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 20px;
	@media screen and (max-width: 1279px) {
		margin-top: 10px;
	}
	@media screen and (max-width: 767px) {
		margin-top: 0;
		column-gap: 10px;
	}
}

.slider__button {
	font-family: 'Georgia';
	font-weight: normal;
	letter-spacing: 0.06em;
	width: 52px;
	height: 52px;
	border-radius: 100px;
	background-color: transparent;
	transition: all .3s ease;
	border: 2px solid $main-color;
	cursor: pointer;
	&:hover {
		background-color: $main-color;
	}
}

.slider__button:disabled {
	border: 2px solid $color-dark-s;
	cursor: default;
	&:hover {
		background-color: transparent;
	}
}


.button__count{
	cursor: default;
	font-size: 1.25rem;
	background: $main-color;
}