@mixin font ($size, $family: Georgia, $style: normal, $weight: normal) {
    font-family: $family;
	font-style: $style;
	font-weight: $weight;
    font-size: $size;
}

@mixin cardHover () {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: #fff;
}