<div class="container">
    <a href="main.html" class="header__logo">
        <h1 class="header__logo-title">Cozy House</h1>
        <div class="header__logo-subtitle">Shelter for pets in Boston</div>
    </a>
    <div class="menu__icon">
        <span></span>
    </div>
    <nav class="menu__body menu">
        <ul class="header__menu-list">
            <li><a href="main.html" class="header__menu-link">About the shelter</a></li>
            <li><a href="pets.html" class="header__menu-link">Our pets</a></li>
            <li><a href="#!" class="header__menu-link">Help the shelter</a></li>
            <li><a href="#footer" class="header__menu-link">Contacts</a></li>
        </ul>
    </nav>
</div>